---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@/components/sections/landing/HeroSection.astro";
import ClientsSection from "@/components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@/components/sections/features/FeaturesGeneral.astro";
import TestimonialsSection from "@/components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@/components/sections/pricing/PricingSection.astro";
import FAQ from "@/components/sections/FAQ.astro";
import heroImage from "@/images/hero-image.png";
// import heroImage from "@/components/ui/icons/hero-image.astro"
import faqs from "@/data_files/faqs.json";
import features from "@/data_files/features.json";
import pricing from "@/data_files/pricing.json";
import featureImage from "@/images/features-image.avif";

---

<MainLayout>

  <HeroSection
    title=`Design your websites with <span
        class="text-yellow-500 dark:text-yellow-400">Danfe Solutions</span>`
    subTitle="Premium website development and professional design services tailored to meet your requirements."
    primaryBtn="Contact Team"
    primaryBtnURL="/contact"
    withReview={true}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">100+</span> Reviews`
  />

  <ClientsSection
    title="Trusted by Users"
    subTitle="Experience the reliability chosen by Users."
  />

  <FeaturesGeneral
    title="Meeting Users Requirements"
    subTitle="At Danfe, we specialize in addressing the distinctive needs faced in the website development and digital marketing sectors. From innovative design tools to professional services, we are committed to assisting you in overcoming challenges and reaching your online objectives."
    src={featureImage}
    alt="Danfe services are out of league"
    features={features}
  />

    <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At Danfe, we prioritize efficiency from the start. Get your website up and running quickly with our seamless onboarding process. Experience the swift evolution of online presence, redefining the pace of website development."
    ;
    testimonials={[
      {
        content:
          "Danfe's exceptional customer service made a significant impact on our project. From friendly and productive discussions to a quick project kickoff, I am highly satisfied with the end result. Danfe is truly a game-changer in website building and support!",
        author: "Sujan Timalsina",
        role: "",
        avatarSrc:
          "https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/434px-Unknown_person.jpg",
      },
    ]}
    statistics={[
      {
        count: "100+",
        description:
          "satisfied customers — from blogs & portfolios to school and hotel management services",
      },
      {
        count: "85%",
        description:
          "boost in project efficiency, revolutionizing our website development experience.",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "Faster website creation using innovative design solutions.",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <div id="faq">
    <FAQ title="Frequently<br />asked questions" faqs={faqs} />
  </div>
  
</MainLayout>
